/* Styles globaux */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--header-bg);
    color: var(--header-color);
}

button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Thèmes */
:root {
    --header-bg: #ffffff;
    --header-color: #000000;
    --background-color: #ffffff;
    --text-color: #000000;
    --button-bg: #f0f0f0;
    --button-color: #000000;
}

body.light-theme {
    --header-bg: #ffffff;
    --header-color: #000000;
    --background-color: #ffffff;
    --text-color: #000000;
    --button-bg: #f0f0f0;
    --button-color: #000000;
}

body.dark-theme {
    --header-bg: #333333;
    --header-color: #ffffff;
    --background-color: #121212;
    --text-color: #ffffff;
    --button-bg: #444444;
    --button-color: #ffffff;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Fenêtre de paramètres */
#settings-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#settings-window.hidden {
    display: none;
}

.settings-content {
    background: var(--background-color);
    color: var(--text-color);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

button {
    background-color: var(--button-bg);
    color: var(--button-color);
}

button:hover {
    background-color: var(--button-color);
    color: var(--button-bg);
}

.close-button {
    color: #ccc;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: #9b2525;
    text-decoration: none;
    cursor: pointer;
}